on:
  pull_request:
    types: [opened, reopened]
  

jobs:
  build_frontend:
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Lint
      run: npm install && npm run lint
      working-directory: ./frontend  

    - name: Build the app
      run: npm install && npm run build
      working-directory: ./frontend    

  build_backend:
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Setup .NET SDK 9.0.x
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
        
    - name: Build the app
      run: dotnet build -c Release
      working-directory: ./backend # Specify where to find the solution file in repository